.create{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}
  