<div class="container">
<form class="form">
    <div class="login-head">
        <div class="info">
            <div>Tela de</div>
            <div>Acesso!</div>
        </div>
    </div>
    <div class="login-body">
    <mat-form-field class="full-width" >
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex.: fulano@apss.com.br" >
    </mat-form-field>
  
    <mat-form-field class="full-width" >
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Ex.: 123..">
    </mat-form-field>
    
    <button class="full-width login-btn ripple">Login</button>
</div>
  </form>
</div>

