<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
</head>
<body>
 
    <div class="login">
        <div class="login-head">
            <div class="info">
                <div>Login</div>
                <div>Sing In!</div>
            </div>
        </div>
        <div class="login-body">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
            <a href="#" class="forgot-password">Forgot Password</a>
            <button class="login-btn ripple">Login</button>
        </div>
    </div>
        
</body>
</html>
