.form{
    width: 30%;
    margin: auto;
}

.full-width{
    width: 90%;
}

button{
    margin-right: 0.3rem;
}

input {
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    text-transform: lowercase;
}
:-moz-placeholder {
    text-transform: lowercase;
}
::-moz-placeholder {
    text-transform: lowercase;
}
 :-ms-input-placeholder {
     text-transform: lowercase; 
}