<div class="create">
    <h1>Lista de ordem de serviços</h1>
    <button (click)="navigateToCreate()" class="mat-elevation-z8" mat-stroked-button color="primary">Novo</button>
    <mat-form-field class="filter" appearance="standard">
      <mat-label>Filtrar por nome</mat-label>
      <input id="inputfiltro" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8 container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- Position Column -->
        <ng-container matColumnDef="tecnico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Técnico </th>
          <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.tecnico.nome}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.cliente.nome}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="abertura" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Abertura </th>
          <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.dataAbertura | date:'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="fechamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fechamento </th>
          <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.dataFechamento | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="prioridade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridade </th>
            <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.prioridade.descricao}} </td>
        </ng-container>
          
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element" class="{{ prioridade(element.prioridade.descricao)}}"> {{element.status.descricao}} </td>
        </ng-container>
  
        <!-- Symbol Ações -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" routerLink="update/{{element.id}}"><mat-icon>launch</mat-icon></button>
              <button mat-icon-button color="warn"><mat-icon>visibility</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[14, 20, 25]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
  </div>
    